
body{
    font-family: 'Montserrat', sans-serif;
}


.wrapper{
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.first-container{
	background-image: url(../images/background.png);
	max-height: 786px;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

header{
	padding-top: 40px;
}

header .logo{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
	/* padding: 0; */
}

.center{
	max-width: 1164px;
	margin: 0 auto;
}

header .menu{
	list-style-type: none;
	display: flex;
	justify-content: space-around;

}

header .menu li a{
	text-decoration: none;
	font-size: 14px;
	/* line-height: 24px; */
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}

header nav{
	padding: 0;
}

.head-info{
	color: #ffffff;
	text-align: center;
	margin-top: 220px;
}

.head-info h1{
	text-transform: uppercase;
	margin-bottom: 0;
}

.head-info .info{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
	margin-top: 20px;
}

.head-info a{
	padding: 18px 33px;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 50px;
	transition: 0.5s;
}

.head-info a:hover{
	color: yellow; 
	border: 4px solid yellow;
}
.services .about, .about-us .about{
	text-align: center;
	padding-top: 98px;
	padding-bottom: 73px;
	color: #555555;
}
.about-us{
	background-color: #f8f8f8;
}
.services .about h1, .about-us .about h1{
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.services .about hr, .about-us .about hr{
	height: 2px;
	width: 50px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.services .about .offer, .about-us .about .offer{
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
.about-us .description, .services .description{
	font-size: 14px;
	line-height: 24px;
}
.services div h2{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}
.services div .symbol{
	text-align: center;
}

.works-container {
    .latest{
        text-align: center;
        padding-top: 98px;
        color: #555555;
            h1{
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            hr{
                height: 2px;
                width: 50px;
                display: inline-block;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .latest-works{
                display: flex;
                width: 45%;
                justify-content: space-between;
                font-size: 16px;
                line-height: 24px;
                margin: 0 auto;
                list-style-type: none;
                a{
                    color: #555555;
                    text-decoration: none; 
                }
                a:hover{
                    color:rgba(236, 48, 48, 0.5); 
                }
            }
    }
    .works{
        margin-top: 70px;
        .work-item{
            margin-bottom: 24px;
            position: relative;
            overflow: hidden;
            transition: all 1s ease-in-out;
            img{
                width: 100%;
                max-width: 100%;
                object-fit: cover;
            }
            .pic-caption{
                position: absolute;
                width: calc(100% - 24px);
                height: 100%;
                text-align: center;
                opacity: 0;
                background: rgba(236, 48, 48, 0.5);
                transition: all 1s ease-in-out;
                margin-left: 12px;
                color:#ffffff;
                padding-top: 125px;
                h4{
                    
                }
                p{

                }
                a{
                    text-decoration: none;
                    color:rgba(236, 48, 48, 0.5);
                    text-transform: uppercase;
                    padding: 10px 20px;
                    background-color: #ffffff;
                    border-radius: 2px;
                }
            }
        }
        .work-item:hover .bottom-to-top{
            top:0;
            left: 0;
            opacity: 1;
            transition: all 1s ease-in-out;
        }
    }
}
.offer{
    margin-top: 70px;
    .ask{
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
        }
        .ask-red{
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;
            height: 100%;
            background: rgba(236, 48, 48, 0.5);
            padding-top: 50px;
            color: #ffffff;
            /* color: #555555; */  /* добавила еще один класс, если краснеть секция должна при наведении, просто не смогла подобрать цвет шрифта, чтоб читабельный был на фоне картинки, когда она не активна */
            font-weight: bold;
            h4{
                span{
                    text-transform: uppercase;
                }

            }
            a{
                display: inline-block;
                margin-top: 30px;
                text-decoration: none;
                color: #ffffff;
                padding:10px 20px;
                border:1px solid #ffffff;
                border-radius: 2px;
                text-transform: uppercase;
            }
            a:hover{
                background-color: #ffffff;
                color: rgba(236, 48, 48, 0.5);
            }
        }
        
    }
}


 

/*Section brands*/

.brands-container .brands img{
	object-fit: contain;
	padding: 0 25px;
}

.brands-container .brands{
	padding-top: 102px;
	padding-bottom: 62px;
}

.brands-container{
	background-color: #f8f8f8;
}

.brands-container .descr{
	text-align: center;
	color: #555555;
}

.brands-container .descr .comment{
	font-size: 18px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 29px;
	font-family: 'MyriadPro Regular';
	padding: 0 25px;
}

.brands-container .descr .company{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 117px;
}

footer{
    background: red;
    .social-icons{
        max-width: 145px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 97px 0 60px 0;
        li{
            width: 25%;
            a{
                border: 2px solid #ffffff;
                padding: 3px 5px 3px 6px;
                border-radius: 50%;
                i{
                    color:#ffffff;
                    font-size: 12px;
                }
            }
            a:hover i{
                color:red;
                
            }
            a:hover{
                background-color: #ffffff;

            }
        }
        
    }
    .copyright{
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 991.98px){
	header .menu{
		display: none;
	}

	.brands-container .brands img{
		padding: 10px;
	}

	.center{
        width: auto;
        max-width: auto;
	}
	/* header .logo{
		padding-left: 12px;
		padding-right: 12px;
	} */
    .offer{
        .ask{
            img{
                height: max-content;
            }
        }
    }
}
@media screen and (max-width: 767.98px ){
	.about-us .about{
		padding-bottom: 40px;
	}
}